footer.main-footer{
    background-color: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter 0;
    font-size: .8em;

    p{
        a{
            color: theme-color(white);

            &:hover{
                color: theme-color(blue);
            }
        }
    }

    .row{
        flex-flow: column-reverse;
        
        @include media-breakpoint-up(md){
            flex-flow: row wrap;
        }
    }

    .copyright{
        color: theme-color(grey);
        margin-top: 5px;
    }

    ul{
        padding-left: 0;
        list-style: none;

        a{
            color: theme-color(white);

            &:hover{
                color: theme-color(yellow);
            }
        }
    }

    .left{
        @include media-breakpoint-up(md){
            padding-right: $grid-gutter;
        }

        ul{
            display: flex;
            margin: 5px 0 0;
            
            li{
                margin-right: 10px;
                
                &:first-child{
                    display: none;
                }
            }
        }
    }

    .right{
        margin-bottom: $grid-gutter / 2;

        @include media-breakpoint-up(md){
            margin-bottom: 0;
        }

        h3{
            font-family: 'Gilam', sans-serif;
            color: theme-color(yellow);
            font-size: 1.4em;
        }

        p{
            margin-bottom: 10px;
            line-height: 1.4em;
        }
    }

    // Newsletter form
    .form-wrap{
        flex-flow: row wrap;

        p{
            width: auto;
            margin-bottom: 0;
        }
        
        input[type="text"]{
            border-color: theme-color(white);
            color: theme-color(white);

            &::placeholder{
                color: transparentize($color: #fff, $amount: .4);
            }
    
            &:-internal-autofill-selected{
                background-color: transparent!important;
            }
        }

        input[type="submit"]{
            background-color: theme-color(white);
            border-color: theme-color(white);
            color: theme-color(black);
        }
    }
}