footer.main-footer{
    background-color: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter 0;

    .copyright{
        color: theme-color(grey);
        margin-top: 5px;
    }

    ul{
        padding-left: 0;
        list-style: none;

        a{
            color: theme-color(white);

            &:hover{
                color: theme-color(yellow);
            }
        }
    }

    .left{
        a{
            text-transform: uppercase;
        }
    }

    .right{
        h3{
            font-family: 'Gilam', sans-serif;
            color: theme-color(yellow);
        }

        ul{
            display: flex;
            
            li{
                margin-right: 10px;
                
                &:first-child{
                    display: none;
                }

                &:last-child{
                    flex: 1;
                    text-align: right;
                    margin-right: 0;
                }
            }
        }
    }

    // Newsletter form
    .form-wrap{
        input[type="text"]{
            border-color: theme-color(white);
            color: theme-color(white);

            &::placeholder{
                color: transparentize($color: #fff, $amount: .4);
            }
    
            &:-internal-autofill-selected{
                background-color: transparent!important;
            }
        }
    }
}