.top-banner{
  background-color: theme-color(black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: 999;
  padding: $grid-gutter / 2;
  
  .container{
    max-width: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  img{
    height: 40px;
  }

  .nav{
    li {
    @extend .nav-item;
    font-size: .9em;
    padding: 0.5rem 1rem;

    &.current-menu-item{
      a{
        border-color: theme-color(white);
      }
    }
  
    a {
      @extend .nav-link;
      border-bottom: 3px solid transparent;
      padding: 0;
      color: theme-color(white);
      text-transform: uppercase;
      font-weight: 600;

      &:hover{
        color: theme-color(yellow);
      }
    }
  }
  }
}

.nav-primary{
  flex: 1;
  padding-left: $grid-gutter / 2;
}

.nav-secondary{
  li{
    &:last-child{
      display: none;
    }
  }
}
