.page-header{
        padding: $grid-gutter 0;

        h1{
            font-weight: 600;
        }
}
    
.page{
    .main{
        padding: $grid-gutter 0;

        section{
            padding: $grid-gutter 0;
            
            @include media-breakpoint-up(md){
                padding: $grid-gutter * 2 0;
            }
        }
    }
}

.page.home{
    .wrap{
        padding-top: 0;

        .main{
            padding: 0;
        }
    }

    .top-banner{
        background: transparent;

        &.scrolled{
            background: theme-color(black);
        }
    }

    h1, h2{
        text-transform: uppercase;
        font-weight: 600;

        span{
            color: theme-color(yellow);
        }
    }

    .banner{
        .row{
            align-items: center;
        }
    }

    #top{
        padding-top: $header-height;
        background: rgba(theme-color(black), .4);
        color: theme-color(white);
        min-height: 90vh;
        display: flex;
        align-items: center;
        text-align: center;

        h1{
            font-size: 2em;
            max-width: 900px;
            margin: auto;

            span{
                color: theme-color(yellow);
            }
        }

        @include media-breakpoint-up(md){
            h1{
                font-size: 3em;
            }
        }
    }

    #intro{
        background: theme-color(yellow);
        padding-bottom: 0;
        text-align: center;

        .star{
            margin-bottom: $grid-gutter;
            
            svg{
                height: $grid-gutter;
                width: $grid-gutter;
                 fill: theme-color(white);
            }
        }
        
        .text{
            font-family: 'Gilam', sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.2em;
            margin-bottom: $grid-gutter;

            @include media-breakpoint-up(md){
                font-size: 2.5em;
            }
        }

        .image{
            img{
                width: 100%;
            }
        }
    }

    #actions{
        footer{
            text-align: center;
        }
    }

    #newsletter{
        background: theme-color(yellow);
        text-align: center;

        background-size: 50%;
        background-position: left bottom;
        background-repeat: no-repeat;

        .text{
            font-size: 1.1em;
            max-width: 600px;
            margin: 0 auto 20px;
        }

        .success{
            display: none;
        }

        @include media-breakpoint-up(md){
            background-size: contain;
            background-position: right;
        }
    }

    #courageScore{
        background: theme-color(black);
        color: theme-color(white);

        .text{
            margin-bottom: $grid-gutter;
        }
        
        @include media-breakpoint-up(md){
            .text{
                margin-bottom: 0;
            }
        }
    }

    #voterGuide{
        background: theme-color(yellow);
        padding-bottom: 0;

        .row{
            align-items: flex-end;
        }

        .text{
            margin-bottom: $grid-gutter;

            h2{
                color: theme-color(white);
    
                span{
                    color: theme-color(black);
                }
            }
        }

        @include media-breakpoint-up(md){
            padding-top: 0;

            .text{
                margin-bottom: 0;
                padding: $grid-gutter * 2 0;
                align-self: center;
            }

            .image{
                padding-top: $grid-gutter;
            }
        }
    }

    #institute{
        background: theme-color(beige);
        padding-bottom: 0;
        
        .row{
            flex-flow: column-reverse;
        }

        .text{
            margin-bottom: $grid-gutter;
        }
        
        @include media-breakpoint-up(md){
            padding: $grid-gutter/ 2 0 0;

            .row{
                flex-flow: row;
            }

            .text{
                margin-bottom: 0;
            }
        }
    }
}

// ACTIONS
.page.actions{
    .page-header{
        padding-bottom: 0;
    }

    .categories{
        position: relative;
        text-align: right;

        h4{
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        
        ul{
            text-align: right;
            list-style: none;
            background: theme-color(white);

            li{
                cursor: pointer;
                text-transform: uppercase;
                display: inline-block;
                color: theme-color(grey);
                
                &:hover,
                &.active{
                    color: theme-color(yellow);
                }
            }
        }
    }

    #actions{
        padding-top: $grid-gutter;
    }
}

// ABOUT
.page.about{
    .main{
        padding: 0;
    }

    #top{
        background: theme-color(yellow);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto 400px;
        padding-bottom: 450px;
        
        @include media-breakpoint-up(lg){
            background-size: 50%;
            padding-bottom: $grid-gutter * 2;

            .illustration{
                display: none;
            }
        }
    }

    #staff{
        padding-bottom: 0;

        h2{
            margin-bottom: $grid-gutter;
        }

        .person{
            margin-bottom: $grid-gutter / 2;

            // .portrait{
            //     height: 0;
            //     padding-top: 100%;
            //     background: theme-color(grey);
            //     margin-bottom: 10px;

            //     img{
            //         max-width: 100%;
            //     }
            // }

            h4{
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 0px;
            }

            h5{
                font-size: 1em;
                font-style: italic;
            }
        }
    }

    #directors{

        h3{
            font-size: 1em;
            font-weight: 600;
            margin: $grid-gutter / 2 0 10px;
        }

        .directors{
            columns: 2;

            p{
                line-height: 1.2em;
                margin-bottom: 10px;

                em{
                    color: theme-color(darkgrey);
                }
            }

            @include media-breakpoint-up(md){
                columns: 3;
            }
        }
    }

    #jobs{
        background-color: theme-color(yellow);
        background-repeat: no-repeat;
        background-size: auto 400px;
        background-position: right bottom;
        padding-bottom: 450px;
        
        .job{
            background: theme-color(white);
            padding: $grid-gutter / 2;

            h3{
                font-family: 'Gilam', sans-serif;
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 600;
            }
        }
        
        @include media-breakpoint-up(lg){
            background-size: auto 80%;
            padding-bottom: $grid-gutter;
        }
    }
}

//Voter Guide
.page.voter-guide{
    .main{
        padding: 0;
    }

    #intro{
        background: theme-color(black);
        color: theme-color(white);
        padding: 0;

        .text{
            padding-top: $grid-gutter * 2;
            padding-bottom: $grid-gutter * 2;
        }

        .illustration{
            display: flex;
            align-items: flex-end;
        }
    }

    #content{
        padding-bottom: 0;

        img{
            margin-top: $grid-gutter;
            width: 100%;
            margin-bottom: -1px; //hide bad pixels
        }
    }
}

// Press Releases
.page.press-releases{
    .release{
        margin-bottom: $grid-gutter;

        time{
            font-weight: 600;
            color: theme-color(yellow);
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
}

// Article Blocks
.grid{

    @include media-breakpoint-up(md){
        .grid-sizer{
            width: calc(33% - 30px);
        }

        .article{
            width: calc(33% - 30px);
            margin-right: 30px;

            &:first-child{
                .excerpt{
                    display: block;
                }
            }
        }
    }

    .article{
        margin-bottom: $grid-gutter;
    
        .thumbnail{
            height: 0;
            padding-top: 60%;
            overflow: hidden;
            position: relative;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                object-fit: cover;
                min-width: 100%;
                min-height: 100%;
            }
        }
    
        &:first-child{
            @extend .row;
            width: 100%;
            
            .thumbnail{
                @extend .col-md-8;
                padding-top: 35%;

                &:before, 
                &:after{
                    content: '';
                    background: theme-color(white);
                    width: 15px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                }

                &:after{
                    right: 0;
                    left: auto;
                }
            }
    
            .text{
                @extend .col-md-4;
            }

            .excerpt{
                display: none;
            }
        }
    }

}

.article{
    .thumbnail{
        margin-bottom: 10px;

        img{
            height: auto;
        }
    }

    h3{
        text-transform: capitalize;
        font-size: 1.2em;
        font-weight: 600;

        a{
            color: theme-color(black);
        }
    }

    .category{
        font-size: .9em;
        text-transform: uppercase;
        color: theme-color(yellow);
        font-weight: 600;
        margin-bottom: 5px;
    }

    .excerpt{
        margin-bottom: 10px;
    }

    .byline{
        margin-bottom: 0;
    }

    time{
        color: theme-color(grey);
        font-size: .9em;
    }
}