.page-header{
        padding: $grid-gutter 0;

        h1{
            font-weight: 600;
        }
}
    
.page{
    .main{
        padding: $grid-gutter 0;

        section{
            padding: $grid-gutter 0;
            
            @include media-breakpoint-up(md){
                padding: $grid-gutter * 2 0;
            }
        }
    }
}

.page.home{
    .wrap{
        padding-top: 0;

        .main{
            padding: 0;
        }
    }

    .top-banner{
        background: transparent;

        &.scrolled{
            background: theme-color(black);
        }
    }

    h1, h2{
        text-transform: uppercase;
        font-weight: 600;

        span{
            color: theme-color(yellow);
        }
    }

    .banner{
        .row{
            align-items: center;
        }
    }

    #top{
        padding-top: $header-height;
        background: rgba(theme-color(black), .4);
        color: theme-color(white);
        min-height: 80vh;
        display: flex;
        align-items: center;
        text-align: center;

        h1{
            font-size: 2em;
            max-width: 900px;
            margin: auto;

            span{
                color: theme-color(yellow);
            }
        }

        @include media-breakpoint-up(md){
            h1{
                font-size: 3em;
            }
        }
    }

    #intro{
        background: theme-color(yellow);
        padding-bottom: 0;
        text-align: center;

        .star{
            margin-bottom: $grid-gutter;
            
            svg{
                height: $grid-gutter;
                width: $grid-gutter;
                 fill: theme-color(white);
            }
        }
        
        .text{
            font-family: 'Gilam', sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.2em;
            margin-bottom: $grid-gutter;

            @include media-breakpoint-up(md){
                font-size: 2.5em;
            }
        }

        .image{
            img{
                width: 100%;
            }
        }
    }

    #newsletter{
        background: theme-color(yellow);
        text-align: center;

        background-size: 50%;
        background-position: left bottom;
        background-repeat: no-repeat;

        .text{
            font-size: 1.1em;
            max-width: 600px;
            margin: 0 auto 20px;
        }

        .success{
            display: none;
        }

        @include media-breakpoint-up(md){
            background-size: contain;
            background-position: right;
        }
    }

    #courageScore{
        background: theme-color(black);
        color: theme-color(white);

        .text{
            margin-bottom: $grid-gutter;
        }
        
        @include media-breakpoint-up(md){
            .text{
                margin-bottom: 0;
            }
        }
    }

    #voterGuide{
        background: theme-color(yellow);
        padding-bottom: 0;

        .row{
            align-items: flex-end;
        }

        .text{
            margin-bottom: $grid-gutter;

            h2{
                color: theme-color(white);
    
                span{
                    color: theme-color(black);
                }
            }
        }

        @include media-breakpoint-up(md){
            padding-top: 0;

            .text{
                margin-bottom: 0;
                padding: $grid-gutter * 2 0;
            }
        }
    }

    #institute{
        background: theme-color(beige);
        padding-bottom: 0;
        
        .row{
            flex-flow: column-reverse;
        }

        .text{
            margin-bottom: $grid-gutter;
        }
        
        @include media-breakpoint-up(md){
            padding: $grid-gutter/ 2 0 0;

            .row{
                flex-flow: row;
            }

            .text{
                margin-bottom: 0;
            }
        }
    }
}

// ACTIONS
.page.actions{
    .categories{
        ul{
            list-style: none;

            li{
                cursor: pointer;
                text-transform: uppercase;
                color: theme-color(yellow);
            }
        }
    }

    #actions{
        padding-top: $grid-gutter;
    }
}

// ABOUT
.page.about{
    .main{
        padding: 0;
    }

    #top{
        background: theme-color(yellow);
    }

    #staff{
        .person{
            .portrait{
                img{
                    max-width: 100%;
                }
            }
        }
    }

    #jobs{
        background-color: theme-color(yellow);

        .job{
            background: theme-color(white);
            padding: $grid-gutter / 2;
        }
    }
}

//Voter Guide
.page.voter-guide{
    .main{
        padding: 0;
    }

    #intro{
        background: theme-color(black);
        color: theme-color(white);
        padding: 0;

        .text{
            padding-top: $grid-gutter * 2;
            padding-bottom: $grid-gutter * 2;
        }

        .illustration{
            display: flex;
            align-items: flex-end;
        }
    }

    #content{
        padding-bottom: 0;

        img{
            margin-top: $grid-gutter;
            width: 100%;
            margin-bottom: -1px; //hide bad pixels
        }
    }
}

// Press Releases
.page.press-releases{
    .release{
        margin-bottom: $grid-gutter;

        time{
            font-weight: 600;
            color: theme-color(yellow);
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
}

// Article Blocks
.grid{
    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include media-breakpoint-up(md){
        .grid-sizer{
            width: calc(33% - 20px);
        }

        .article{
            width: calc(33% - 20px);

            &:first-child{
                .excerpt{
                    display: block;
                }
            }
        }
    }

    .article{
        margin-bottom: $grid-gutter;
        float: left;
    
        .thumbnail{
            img{
                width: 100%;
            }
        }
    
        &:first-child{
            @extend .row;
            width: 100%;
            
            .thumbnail{
                @extend .col-md-6;
            }
    
            .text{
                @extend .col-md-6;
            }

            .excerpt{
                display: none;
            }
        }
    }

}

.article{
    .thumbnail{
        margin-bottom: $grid-gutter / 2;

        img{
            height: auto;
        }
    }

    h3{
        text-transform: capitalize;
        font-size: 1.2em;
        font-weight: 600;

        a{
            color: theme-color(black);
        }
    }

    .category{
        font-size: 1em;
        text-transform: uppercase;
        color: theme-color(yellow);
        font-weight: 600;
        margin-bottom: 5px;
    }

    .excerpt{
        margin-bottom: 10px;
    }

    .byline{
        margin-bottom: 0;
    }

    time{
        color: theme-color(grey);
        font-size: .9em;
    }
}