.single{
    article{
        .container{
            margin: auto;
            max-width: 900px;
        }

        header{
            padding-top: $grid-gutter;

            .post-categories{
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;

                li{
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: theme-color(yellow);
                }
            }

            h1{
                font-size: 2em;
                margin-bottom: 0;
            }

            .byline{
                margin-bottom: 0;
            }

            time{
                color: theme-color(grey);
            }

            //Social Warfare Logos
            .swp_social_panel{
                height: $grid-gutter;
                justify-content: flex-start;
                
                .swp_share_button:not(.total_shares):not(.total_sharesalt){
                    width: $grid-gutter;
                    height: $grid-gutter;
                    border-radius: $grid-gutter;
                    border: 1px solid theme-color(grey);
                    background: transparent!important;
                    flex: 0 0 $grid-gutter!important;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a{
                        color: theme-color(black);
                        background: transparent;

                        .iconFiller{
                            width: $grid-gutter!important;

                            .spaceManWilly{
                                width: auto;
                            }

                            .sw{
                                float: none;
                            }
                        }

                        .swp_share{
                            display: none;
                        }
                    }
                }
            }
        }
        
        .entry-content{
            padding: $grid-gutter 0;

            a{
                color: theme-color(blue);

                &:hover{
                    color: theme-color(yellow);
                }
            }
        }

        footer{
            padding: $grid-gutter * 2 0;
        }
    }
}

.single-press-release{
    article{
        footer{
            background: theme-color(beige);

            h3{
                font-family: 'Gilam', sans-serif;
                color: theme-color(yellow);
                font-size: 1em;
            }
        }
    }
}