body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.wrap{
    min-height: 100vh;
    padding-top: $header-height; //Height of the header
}

.admin-bar .wrap{
    padding-top: $header-height - 40;
}

h1, h2{
    font-family: 'Gilam', sans-serif;
}

img{
    max-width: 100%;
}

#content{
    .container{
        max-width: 800px;
    }
}

a{
    color: inherit;

    &:hover{
        text-decoration: none;
    }

    &.button{
        display: inline-block;
        background-color: theme-color(blue);
        padding: 1em 2em;
        color: theme-color(white);
        text-transform: uppercase;
        font-weight: 600;
        transition: .25s;
        border-radius: 0;

        &:hover{
            text-decoration: none;
            background-color: darken(theme-color(blue), 10%);
        }

        &.arrow{
            &:after{
                content: "→";
                display: inline-block;
                padding-left: 10px;
                transition: .25s;
            }

            &:hover{
                &:after{
                    transform: translateX(10px);
                }
            }
        }
    }
}

//ScrollReveal
html.sr .reveal {
    opacity: 0;
}


//Newsletter Form

.newsletter-form .form-wrap{
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    @include media-breakpoint-up(md){
        flex-flow: row wrap;
    }
}

.form-wrap{

    #ak-errors{
        order: 1;
        flex: 0 0 100%;
        color: red;
        list-style: none;
    }

    input[type="email"],
    input[type="tel"],
    input[type="text"]{
        border: 0;
        border: 2px solid black;
        border-right: 0;
        background-color: transparent;
        padding: 10px 20px;
        flex: 1;
        max-width: 500px;
        width: 100%;

        &:focus{
            outline: 0;
        }

        &::placeholder{
            color: transparentize($color: #000000, $amount: .4);
        }

        &:-internal-autofill-selected{
            background-color: transparent!important;
        }
    }

    p{
        margin-bottom: 0;
    }

    input[type="submit"]{
        background-color: theme-color(blue);
        border: 2px solid theme-color(blue);
        color: theme-color(white);
        text-transform: uppercase;
        border-radius: 0;
        outline: 0;
        padding: 10px 20px;
    }
}